[submodule ".emacs.d/minimap"]
	path = .emacs.d/minimap
	url = git://github.com/dustinlacewell/emacs-minimap.git
[submodule ".emacs.d/ace-jump-mode"]
	path = .emacs.d/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule ".emacs.d/auto-complete-clang"]
	path = .emacs.d/auto-complete-clang
	url = git://github.com/brianjcj/auto-complete-clang.git
[submodule ".emacs.d/smex"]
	path = .emacs.d/smex
	url = git://github.com/nonsequitur/smex.git
[submodule ".emacs.d/zencoding"]
	path = .emacs.d/zencoding
	url = git://github.com/rooney/zencoding.git
[submodule ".emacs.d/multiple-cursors"]
	path = .emacs.d/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/weibo.emacs"]
	path = .emacs.d/weibo.emacs
	url = git://github.com/austin-----/weibo.emacs.git
[submodule ".emacs.d/wrap-region"]
	path = .emacs.d/wrap-region
	url = git://github.com/rejeep/wrap-region.git
[submodule ".emacs.d/emacs-w3m"]
	path = .emacs.d/emacs-w3m
	url = git://github.com/doitian/emacs-w3m.git
[submodule ".emacs.d/expand-region"]
	path = .emacs.d/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/golden-ratio"]
	path = .emacs.d/golden-ratio
	url = git://github.com/roman/golden-ratio.el.git
[submodule ".emacs.d/iedit"]
	path = .emacs.d/iedit
	url = https://github.com/victorhge/iedit.git
[submodule ".emacs.d/twittering-mode"]
	path = .emacs.d/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule ".emacs.d/org-reveal"]
	path = .emacs.d/org-reveal
	url = git://github.com/yjwen/org-reveal.git
